.headerImage {
  padding-top: 4em;
  padding-bottom: 1em;
  width: 30%;
  margin: auto;
}

.credits a {
  color: black;
  text-decoration: none;
}

.credits a:visited {
  color: black;
}

.creditsLogo {
  float: left;
  margin: 0 4px;
}
